############################
# Ignore
############################
prompt
tweets


############################
# Misc.
############################

*#
.idea
nbproject


############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
build
dist
node_modules
.node_history
package-lock.json


coverage/
*.log
.DS_Store
.env
.env.local
.vscode/
.idea/
*.swp
*.swo
.npm/
.yarn/
.pnp.*
yarn-error.log
lerna-debug.log
npm-debug.log
.cache/
.parcel-cache/
.next/
.nuxt/
.docz/
.umi/
.rax/
.taro/
*.tsbuildinfo